<nav class="nology-nav" aria-label="Main">
  <ul>
    <li><a href="{{ '/about-nology-games.html' | relative_url }}">About</a></li>
    <li><a href="{{ '/book.html' | relative_url }}">Book</a></li>
    <li><a href="{{ '/downloads.html' | relative_url }}">Downloads</a></li>
    <li><a href="{{ '/downloads.html' | relative_url }}#how-to-install">How to Install</a></li>
    <li><a href="{{ '/game-koko-arena.html' | relative_url }}">Koko Arena</a></li>
    <li><a href="{{ '/game-jokenpo.html' | relative_url }}">JoKenPo</a></li>
    <li><a href="{{ '/game-cookie-chef.html' | relative_url }}">Cookie Chef</a></li>
    <li><a href="{{ '/game-hello.html' | relative_url }}">Hello!</a></li>
    <li><a href="{{ '/game-super-popcorn-machine.html' | relative_url }}">Super Popcorn Machine</a></li>
    <li><a href="{{ '/game-chip.html' | relative_url }}">Chip$</a></li>
  </ul>
</nav>
